GOOGLE_APPLICATION_CREDENTIALS=
DATABASE_NAME=dbt_package_stats
S3_PATH=s3://uv-pypi-downloads
AWS_PROFILE=default
GCP_PROJECT=my-gcp-project
START_DATE=2026-01-01
END_DATE=2026-09-24
PYPI_PROJECT=ora
motherduck_token=JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ
TIMESTAMP_COLUMN=timestamp
DESTINATION=s3,md,local
TABLE_NAME=raw_pypi_downloads
TRANSFORM_S3_PATH_INPUT=s3://us-prd-motherduck-open-datasets/pypi/sample_tutorial/pypi_file_downloads/*/*/*.parquet
TRANSFORM_S3_PATH_OUTPUT=s3://uv-pypi-downloads/processed_pypi_downloads
DBT_TARGET=prod OR DEV